<section class="user-home flex column align-center">
    <img class="user-avatar" src="../../../../assets/imgs/contact.png" alt="">
    <section class="user-info flex column">
        <span class="flex space-between align-center">
            <img src="../../../assets/imgs/coins.png" alt="">Coins: {{user.coins}}</span>
        <span class="user-moves">Moves: {{getMoves()}}</span>
        <span class="flex space-between align-center">
            <img src="../../../assets/imgs/bitcoin.png" alt=""><h4>Bitcoin Rate: ${{rate}}</h4></span>
    </section>
</section>
